.swal2-title {
  font-size: 1.6rem !important;
  padding-top: 1.5rem !important;
}
.swal2-html-container {
  font-size: 1.8rem !important;
  font-weight: 500 !important;
}
.swal2-confirm {
  font-size: 1.4rem !important;
}
.swal2-cancel {
  font-size: 1.4rem !important;
}
.swal2-popup {
  border-radius: 1.2rem !important;
  padding-bottom: 2rem !important;
}
